body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.highlight {
    outline: 3px solid #4FC3F7;
    background-color: #e6f7ff;
  }
  .marker-wrapper.rare {
    animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
    from {
      filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.6));
    }
    to {
      filter: drop-shadow(0 0 12px rgba(255, 0, 0, 1));
    }
  }